<div class="intro container">
    <div class="contenedor">
        <h1>5.) Detectores</h1>
        <p>La naturaleza y características de los rayos cósmicos se determina utilizando lo que denominamos detectores de
        rayos cósmicos . Los detectores de rayos cósmicos son unos dispositivos que presentan unos sensores sensibles al
        paso de
        partículas cargadas. Al diseñar estos detectores se tiene que tener en cuenta
        los siguiente:
        </p> <br>
        <ul class="margen">
            <li>Estos detectores necesitan de una calibración.</li>
            <li>El lugar de operación es clave a la hora de decidir las prestaciones del instrrumento.</li>
            <li>Deben protegerse de la luz directa.</li>
            <li>Los campos magnéticos artificiales y naturales.</li>
        </ul>
        <h2>Detectores Pasivos</h2>
        <p>Denominamos detectores pasivos a aquellos detectores que al captar rayos
        cósmicos no necesitan una fuente de alimentación para funcionar. Presentan
        grandes inconvenientes como que tenemos que recuperarlos para obtener
        los datos. Esta obtención de datos se realiza con microscopios ópticos. Otro gran inconveniente que presentan es que no obtenemos ninguna medida de cuando llegaron esos rayos cósmicos al
        detector.
        </p>
        <h3>Emulsiones Nucleares</h3>
        <p>Las emulsiones nucleares son detectores de rayos cósmicos que presentan una alta concentración en algún
        halógeno de la plata. Cuando la
        partícula cargada llegaba a este detector, ionizaba alguno de los cristales del
        halógeno de plata convirtiéndoles en granos de plata. De tal forma que la
        partícula deja una sucesión de granos que forman la traza de la misma, la
        cuál se puede estudiar con el microscopio.
        La forma de la traza va a depender de la carga y masa de la partícula cargada,
        cuánto mayor sea la carga mayor es la ionización en la emulsión(mayor número de granos). La traza también va
        depender de la tarayectoria de la partícula.
        Las medidas de la ionización en una emulsiónn permiten determinar la carga, masa
        y energía de la partícula cargada incidente. 
        Estos detectores fueron muy utilizados y obtuvieron muy buenas resultados,
        pero debido a su gran coste de fabricación han quedado el olvido.
        </p>
        <h3>Plásticos</h3>
        <p>Son detectores pasivos formados por láminas apiladas de plástico de 250
        mm de grosor. Cuando una partícula ionizada atraviesa un material dieléctrico (plásticos ) crea una zona dañada,
        al agrear un químico corrrosivo, se puede
        observar que el plástico es corroído en las zonas dañadas más que en la no
        dañadas, quedando unos huecos que son las denominadas trazas.
        Lo que se descubrió usando este tipo de detector, fue el descubrimiento
        de iones más pesados que el hierro, realizado por P.B.Price,R.M.Walker,
        R.L.Fleischer y M.Maurette en 1967, estudiando minerales que procedían de
        los meteoritos.
        </p>
        <h2>Detectores Activos</h2>
        <p>Los detectores activos son aquellos detectores que necesitan fuentes de
        alimentación para poder funcionar y son los usados actualmente en el estudio
        de los rayos cósmicos.
        Estos detectores presentan las siguientes ventajas, en comparación con los
        detectores pasivos: <br> <br>
        </p>
        <ul class="margen">
            <li>Solamente registran partículas cuando se encuentra a la tensión adecuada.</li>
            <li>Son los detectores adecuados para embarcar los satélires artificiales.</li>
            <li>Presenta la corrlación temporal de los sucesos</li>
        </ul>
        <h3>Detectores de ionización de gases</h3>
       <p>Este tipo de detectores constan de un gas encerrado en un recipiente de
        paredes conductoras. Los iones que llegan e inciden sobre este contenedor
        producen ,por ionización, iones productos que se recogen directamente en un
        par de electrones que se encuentra dentro del gas y a los que se le aplica un
        alto voltaje.
        Estos detectores presentan las siguiente estructura:
        </p> <br>
        <ul class="margen">
            <li>Contenedor de puertas conductoras</li>
            <li>El contenedor presenta un gas noble en su interior y un hilo conductor en el eje de simetría del contenedor.
            </li>
            <li>El contenedor y el hilo forman los dos electrodos inmersos en el gas noble.</li>
        </ul>
        <div class="desc-imagen-rayo">
            <div class="img-5">
              <a href="#"><img src="../assets/img/detector_gas.PNG" alt="M.Farady"></a>
              <p>Figura 5.1: Esquema básico de un detector de gas. </p>
            </div>
        </div>
        <p>Cuando la ionización produce un cierto número de iones productos, estos van
            colocarse en los electrodos debido a  la existencia del alto voltaje. En el caso
            de que no existiera este alto voltaje el detector no funcionaría o o no daría una buena lectura. En su camino hacía los electrodos, estos iones son acelerados por el
            campo eléctrico, pudiendo producirse nuevas ionizaciones o neutralizaciones.
            El impacto de estos efectos depende del tipo de gas, del voltaje aplicado y
            de las dimensiones del detector. <br><br>  Los diferentes detectores gaseosos se distinguen por
            su funcionamiento en diferentes regiones de voltaje.
            En la figura 1.4 podemos observar las diferentes regiones de estos detectores,
            representando el número de iones colectados en los electrodos contra el voltaje
            aplicado,para partículas alfas y beta respectivamente.
        </p>
        <div class="desc-imagen-rayo">
            <div class="img-5">
              <a href="#"><img src="../assets/img/detector_regiones.PNG" alt="M.Farady"></a>
              <p>Figura 5.2: Esquema básico de las deiferentes regiones en las que trabajan los diferentes detectores de gases. </p>
            </div>
        </div>
        <ul class="margen">
            <li> <span style="font-family: 'Ranchers', cursive;"> Región 1: </span>Esta región no se usaba debido a que al ser el voltaje tan bajo se perdía información.</li>
            <li> <span style="font-family: 'Ranchers', cursive;">Región2: </span> En esta región el número de iones no va a depender del aumento de voltaje. En esta zonra se recogen los iones primarios y no existe casi ninguna ionización.</li>
            <li> <span style="font-family: 'Ranchers', cursive;">Región 3:</span> En esta región existe un aumento de iones colectados debido a que al aumentar el voltaje, los iones primerarios son acelerados dentro de campo eléctrioc pudiendo generar pares de iones. </li>
            <li> <span style="font-family: 'Ranchers', cursive;">Región 4: </span> Esta región es poco últil en cualquier experimento debido a que es una zona de inestabilidad.</li>
            <li> <span style="font-family: 'Ranchers', cursive;">Región 5:</span> Al seguir aumentando el voltaje llegamos a esta región, que es la región de los contadores Geiger-Müller. Esta zona presenta una gran ionización y una gran cantidad de partículas de iones recolectads.</li>
        </ul>  
          <h3>Detectores de centelleo</h3>
          <p>Estos detectores están formados por un material sólido que es capaz de
            emitir destellos luminosos cuando los atraviesa una radiación.
            Los electrones emitidos por estos materiales posteriormente se amplifican
            en un Sistema multiplicador de electrones, originando un pulso eléctrico que
            permite registrar cada partícula que llega al material luminiscente. Presentan
            una gran eficiencia y una respuesta muy rápida.(Figura 1.3 )</p>
          <div class="desc-imagen-rayo">
            <div class="img-5">
              <a href="#"><img src="../assets/img/detector_centelleo.PNG" alt="M.Farady"></a>
              <p>Figura 5.3: Esquema básico de un detector de centelleo. </p>
            </div>
          </div>
          <h3>Detectores Semiconductores</h3>
          <p>Son detectores formados por cristales semiconductores, están basados fundamentalmente en
          cristales de Si y Ge. Estos detectores se aprovechan de que estos cristales presentan dos bandas, en
          la organización de sus electrones. La primera de ellas, es la banda de valencia(electrones confinados en la red cristalina) y, la segunda, es
          la banda de conducción(electroens en esta de livertad en el interior de esa banda). Esta bandas se encuentran separadas por un gap de energía.</p>
          <p>La anchura del gap puede modificarse al agregarle impurezas que pueden ser de dos tipos : <br><br>
        <ul class="margen">
          <li> <span style="font-family: 'Ranchers', cursive;">Portadores de carga:</span>   Son electrones denominados dondadoras( semiconductor tipo p)</li>
          <li> <span style="font-family: 'Ranchers', cursive;">Aportación de huecos: </span> Se le agregan huecos las denominados aceptoras(semiconductor tipo n)</li>
        </ul> <br>
        La medida de los electrones y de los huecos permiter  leer o detectar  el paso de la partícula y medir su energía. Las estructura de estos semiconductores es las siguiente: <br>
                <ul class="margen">
          <li>El cristal semiconductor situado entre los electrodos.</li>
          <li>Un fuene de alimentación.  </li>
          <li>Estos dos dispositivos conectados mediante una resistencia.</li> <br>
        </ul>
        Se crea un campo eléctrico que recorge los portadores móviles , creando un pulos eléctrico cuya amplitud es proporcional a la energia pérdidad. Los semiconductores más usdaos son el silicio y el germanio.

    </div>
  </div>
