.intro .contenedor {
    background-color: whitesmoke;
    padding: 2rem 2rem;
    font-size: 2.5vw;
    margin-top: 140px;
    margin-bottom: 100px;
    border: 10px double black;
    position: relative;
    z-index: 100;
    width: 90vw;
  }
  
  .intro .contenedor::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
    background-image: url("./img/37775.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.08;
  }
  
  .intro .contenedor h1 {
    -webkit-text-stroke: 1px black;
    font-size: 40px;
  }
  .margen {
    margin-left: 40px;
}
.desc-imagen-rayo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.desc-imagen-rayo img {
height: auto;
width: auto;
margin-bottom: 10px;
}
.desc-imagen-rayo-1 {
display: flex;
text-align: center;
align-items: center;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}
.desc-imagen-rayo-1 img {
height: auto;
width: auto;
}
.desc-imagen-rayo-1 p{
margin-bottom: 10px;
font-family: 'Ranchers', cursive;
}


.desc-imagen-rayo p{
margin-bottom: 10px;
font-family: 'Ranchers', cursive;
}

.img-cs p{
display: flex;
text-align: center;
justify-content: center;
margin-left: 0px;
margin-bottom: 20px;
font-family: 'Ranchers', cursive;
}

.img-cs img{
width: auto;
height: auto;
margin-bottom: 10px ; 
margin-left: 120px;
}
ul li span{
font-family: 'Ranchers', cursive;
}



  @media only screen and (min-width: 1000px) {
    .intro .contenedor {
        background-color: whitesmoke;
        padding: 4rem 10rem;
        font-size: 1vw;
        margin: 0px 140px;
        margin-top: 140px;
        margin-bottom: 100px;
        border: 10px double black;
        position: relative;
        z-index: 1;
        width: 95%;
      }
      .intro .contenedor::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: -1;
        background-image: url("./img/37775.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.08;
      }
      .intro .contenedor h1 {
        -webkit-text-stroke: 1px black;
        font-size: 100px;
      }
      .margen {
          margin-left: 40px;
      }

    /**Section Rayos**/
    .desc-imagen-rayo {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .desc-imagen-rayo img {
      height: 350px;
      width: auto;
      margin-bottom: 10px;
    }
    .desc-imagen-rayo-1 {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .desc-imagen-rayo-1 img {
      height: auto;
      width: auto;
    }
    .desc-imagen-rayo-1 p{
      margin-bottom: 10px;
      font-family: 'Ranchers', cursive;
    }
    
   
    .desc-imagen-rayo p{
      margin-bottom: 10px;
      font-family: 'Ranchers', cursive;
    }
    
    .img-cs p{
      display: flex;
      text-align: center;
      justify-content: center;
      margin-left: 0px;
      margin-bottom: 20px;
      font-family: 'Ranchers', cursive;
    }
    
    .img-cs img{
      width: auto;
      height: auto;
      margin-bottom: 10px ; 
      margin-left: 120px;
    }
    ul li span{
      font-family: 'Ranchers', cursive;
    };
  }