
<section  class="intro container">
    <div class="contenedor">
        <h1>Experimento: Cámara de Niebla.</h1>
        <p> En esta sección voy a hablar del desarrollo de una cámara de niebla casera. Estas cámaras de nieblas son detectores que sirven para hacer visibles las trazas de las partículas que iniciden sobre ella. Este experimento es muy interesante, para que tú puedas investigar sobre el tema además de poder realizarlo con cierta facilidad. <br><br>
        Esta sección va a estar dividida en cuatro partes:  <br> <br>  
        <ul class="margen">
                <li> <span style="font-family: 'Ranchers', cursive;">Material:</span> Material necesario para el experimento.</li>
                <li> <span style="font-family: 'Ranchers', cursive;">Medidas de seguridad:</span> Precauciones a tener presente al realizar el exprimento. </li>
                <li><span style="font-family: 'Ranchers', cursive;"> Montaje: </span> Instrucciones detalladas para realizar el experimento.</li>
                <li> <span style="font-family: 'Ranchers', cursive;">Conclusiones:</span> Hablaremos de los resultados obtenidos de el experimento y de como interpretarlos. </li>
                <li> <span style="font-family: 'Ranchers', cursive;"> Errores y fallos:</span> Explicación de algunos errores comunes al desarrollar el experimento.</li>
        </ul>
        <h2>a.) Material.</h2>
        <ul class="margen">
                <li> <span style="font-family: 'Ranchers', cursive;">Un recipiento de plástico o cristal transparente </span> con los lados planos y abierto por la parte superior. Las dimensiones aconsejables son: 20 cm x 30 cm (lado abierto) x 15cm (altura).  <br>
                <span style="font-family: 'Ranchers', cursive;">Nota:</span>Las dimensiones dadas son una guía, pueden ser otras,aunque tenemos que tener presente que el tamñao del lado abierto debe se aproximadamente igual al de la placa metálicas incluso un poco más pequeño.  </li> 

                <li> <span style="font-family: 'Ranchers', cursive;">Una placa metálica</span>, de unos 3-5 mm de grosor, para cubrir por completo la cara abierta del recipiente. <br>
                <span style="font-family: 'Ranchers', cursive;">Nota</span>: Es recomendable que la placa sea de color negro, en el caso de que no lo sea, necesitarás cinta aislante para conseguir dicha superficie negra.</li> 

                <li>  <span style="font-family: 'Ranchers', cursive;">Una pieza de fieltro o una bayeta típica de cocina</span> Una pieza de fieltro o una bayeta típica de cocina con tamaño un poco inferior al fondo del recipiente. </li> 

                <li> Cualquier material que nos permite tener fijado la pieza de fieltro o bayeta el fondo de la caja.</li>

                <li> <span style="font-family: 'Ranchers', cursive;">Una caja de madera o plástico</span> cuya base sea un poco mayor que la placa metálica y con una cierta altura( aproximadamente 5 cm de altura.) Esta caja contendrá las placas de hielo y la placa metálica.  </li> 

                <li>Una linterna o luz potente que pueda proyectarse sobre el recipiente.  </li> 
                <li> <span style="font-family: 'Ranchers', cursive;">Alcohol isopropiílico(isopropanol).</span> </li>

                <li> <span style="font-family: 'Ranchers', cursive;"> Hielo seco.</span> </li>

                <li> <span style="font-family: 'Ranchers', cursive;">Guantes y gafas de seguridad para manejar el hielo y el alcohol.</span> </li>
        </ul> <br>
        <h2>b.) Medidas de seguridad.</h2> <br>
        <div class="seguridad">
            <p>MUY IMPORTANTE </p> <br>
            <ul class="margen">
                    <li>El alcohol no es apto para beber y el hacerlo es perjudicial para su salud.</li>
                    <li> El hielo seco no puede tocarse con las manos descubiertas, debido a que te quemarías, al presentar un temperatura de -78ºC. Para  ello es necesario manipularlo con los guantes y las gafas de seguridad. Debido a las características del hielo seco es necesario que realices el experimento en una habitación con una gran ventilación para evitar cualquier posible intoxicación al evopararse grandes cantidades del mismo.
                    </li>    
            </ul>
        </div> <br> <br>
        <h2>b.) Montaje.</h2>   
        <div class="img-glosario">
          <img src="./assets/img/camara-niebla-1.png" alt="Montaje cámara de niebla">
          <p  style="font-family: 'Ranchers', cursive;" > Figura 1.1 : Esquema básico del montaje de una cámara de niebla.</p>
        </div> <br> <br>
        <ul class="margen">
            <li> <span style="font-family: 'Ranchers', cursive;">Preparación de la placa metálica.</span> <br>
            Este paso solamente es necesario si no ha consegudio una placa metálica negra, en caso contrario, obvie este apartado. Debe recubrir la placa metálica con cinta adhesiva negra. Debes recubrir la placa metálica de este color para que después sea mucho más fácil poder observar las trazas que dejan las partículas. 
            </li> <br>
            <li> <span style="font-family: 'Ranchers', cursive;">Preparación del depósito del alcohol.</span> <br>
            Pegamos la pieza de fieltro o bayeta al fondo del recipeinte transparente. EL pegado o colocación de este filtro puede hacerse de diversas maneras dependiendo de la estrucutra del recipiente. Dos formas de hacer esto sería: 
            <ul>
              <li class="margen">Uitilizar bridas con su soporto.</li>
              <li class="margen">Usar un adhesivo que sea insoluble en agua y no pierda sus características.</li>
            </ul> <br>
            Después de realizar la colocación, debe empapar el fieltro con alcohol, con lo que conseguirá una neblina de alcohol similar a una capa fina de lluvia. Después de tener todo esto preparado puede seguir añadiendo alcohol a la cámara. Todo este alcohol dará lugar a la neblina más desa donde observaremos las trazas de las partículas. <br> <span>Nota:</span> <div style="color: crimson;"> TODO ESTA ADICIÓN DEL ALCOHOL DEBE HACERSE CON AGUANTES PARA EVITAR EL CONTACTO CON LA PIEL.</div>  
            </li>  <br>
            <li><span style="font-family: 'Ranchers', cursive;">Preparación de  la cámara.</span> <br>
            Teniendo los pasos anteriores realizados ya podemos proceder a montar la cámara de niebla como tal. Empezamos añadiendo el hielo seco a la caja contenedora de hielo seco. Posteriormente colocamos la placa metálica dentro de la contenedora y encima del hielo seco. Por último, colocamos el recipiente encima de la placa metálica y ya tendríamos nuestra cámara de niebla montada. <br> <span>Notas:</span> 
            <ul>
              <li class="margen">Al poner el recipiente encima de la placa deber asegurarse que este lo mejor sellada pposible y que halla la menor posibilidad pérdida.</li>
              <li class="margen" style="color: crimson;">DEBE USAR LOS GUANTAES PARA MANIPULAR EL HIELO SECO.</li>
            </ul>
            </li> <br>
            <li> <span style="font-family: 'Ranchers', cursive;">Funcionamiento de la cámara.</span> <br>
            Deben pasar unos minutos antes de que la cámara de nieble empiece a funcionar, debido a que la cámara necesita alcanzar un estado de equilibro para que se pueden observar las primeras trazas. Después de esta estabilización apague todas las luces de la sala y encienda la linterna para proyectar la luz sobe la cámara. Tras unos diez o 15 minutos deberá empezar a observar las trazas de partículas atravesando la cámara, concretamente se observarán cerca del fondo de la cámara. 
            </li>
        </ul>
        <div class="camara-niebla">
            <iframe  src="https://www.youtube.com/embed/D77MWTbufbs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Figura 1.2: Montaje de una cámara de niebla. EL video ha sido realizado por Fundación Aquae:  <a href="https://www.fundacionaquae.org/">https://www.fundacionaquae.org/</a></p>
        </div> <br>
        <h2>c.)Conclusiones.</h2>
        Observamos diferenets trazas que vienen de diferentes partículas cósmicas. Se observa que algunas son "brillantes" y gruesas mientras que otras son muy débiles. También se puede observar trazas retilíneas, que dependiendo de la forma podemos observar: <br> <br>
        <ul class="margen">
          <li>La traza rectilínea se tuerce hacía la derecha o izquierda se produce la desintegración de un muón. También se producen neutrinos pero la cámara de niebla no es capaz de detectarlos.</li>
          <li> Cuando tres trazas rectilíneas coinciden en un punto, se da el proceso de colisión de un muón con un electrón que se encuentra en la neblina de la cámara de niebla para dar lugar a otro muón. </li>
          <li> Una traza retorcida y sin ningún orden es debido a la disperśión mútiple de rayos cósmicos.</li>
        </ul> <br>
        <p> Por último, destacar que solo he hablado de estas trazas al ser la cámara de niebla un detector que depende de su colocación para detectar las partículas. Como el detector se encuentra a nivel del mar la mayor cantidad de partículas detectadas son muones y neutrinos(aunque no se observen).</p> <br>
        <h3> ¿ Cuál es el funcionamiento de la cámra de niebla?</h3> <br>
        <p>
        Como la parte de la caja se encuentra a temperatura ambiente, el alcohol que se encuentra en el fieltro se evapora, es decir, va pasando lentemente a su estado gasesoso y cae lentamente hasta el fondo de la cámara. Al tener tanto alcohol el fieltro, la cámara se encuentra sobre saturada de vapor de alcohol. Como el hielo seco se encuentra a tan baja temperatura provoca que el vapor que llegué a la placa se encuentra sobreenfriado. Al no ser un estado normal del vapor presemta mucha facilidad para decaer a su fase líquida. La partícula cargada atravesará dicho vapor, arracando electrones de algunos de los atómos del gas. Por tanto , estos átomos en el gas se encontrarían con carga positiva, lo que basta para iniciar el proceso de condensación en el cuál se forman pequeñas gotitas de alcohol a lo largo de la partícula inicial. Estas gotitas formadas son lo que denominamos traza.
        </p> <br>
        <h2>d.)Errores y fallos.</h2>
        <p> En este apartado voy explicar tres de los errores más comunes que se nos dan al relizar este experimento.</p>
        <ul class="margen">
          <li> <span style="font-family: 'Ranchers', cursive;">!!! No se observa ninguna traza !!! </span> 
            <button class ="respuesta" id="respuesta18">Solución</button>
            <div  class="mostrar" id="mostrar18">
            Lo primero es asegurarse de que la luz está bien colocada. La región sensible de la cámara se encuentra cerca del fondo. Posteriormente verifique si el hielo se encuentra bien colocado y en contacto con la placa metálica.
            </div>
          </li>
          <li> <span style="font-family: 'Ranchers', cursive;">!!! Solamente se ve una tenua neblina!!! </span> 
            <button class ="respuesta" id="respuesta19">Solución</button>
            <div  class="mostrar" id="mostrar19">
            Esperé a que la cámara llegue a su punto de equilibro, esto le llevará unos 10 o 15 minutos. Revisé el alcohol que ha usado, si es otro, al tener otra energía de activación los rayos cósmicos no serán capaces de iniciar el proceso de condensación. 
            </div>
          </li>
          <li> <span style="font-family: 'Ranchers', cursive;">!!! Presencia de nubes en las esquinas !!! </span> 
            <button class ="respuesta" id="respuesta20">Solución</button>
            <div  class="mostrar" id="mostrar20">
            Esto es debido a que probablemente la cámara de niebla presente un escape de aire. Revisé la unión de cámara con la placa metálica.
            </div>
          </li>
        </ul>
    </div>
</section>