<div class="intro container">
    <div class="contenedor">
        <h1>Preguntas Tipo Test</h1>
        <p>Esta sección va a estar formada por los diferetens test que he creado para cada una de las secciones de teoría.</p>
        <!--Tipo test-->
        <div class="contenedor-grip">
            <div class="test-a">
              <div class="leftSide">
                <img src="../assets/img/logo.png" alt="quiz logo">
              </div>
              <div class="rightSide">
                <h1>Módulo Práctio: Introducción</h1>
                <a [routerLink]="['/question']" class="buttom"  >Empezar el Test</a>
              </div>
            </div>
            <div class="test-a">
              <div class="leftSide">
                <img src="../assets/img/logo.png" alt="quiz logo">
              </div>
              <div class="rightSide">
                <h1>Módulo Práctio: Descubrimiento </h1>
                <a [routerLink]="['/question1']"class="buttom" >Empezar el Test</a>
              </div>
            </div>
            <div class="test-a">
              <div class="leftSide">
                <img src="../assets/img/logo.png" alt="quiz logo">
            </div>
            <div class="rightSide">
                <h1>Módulo Práctio: Partículas Elementales </h1>
                <a [routerLink]="['/question2']"class="buttom" >Empezar el Test</a>
            </div>
            </div>
            <div class="test-a">
              <div class="leftSide">
                <img src="../assets/img/logo.png" alt="quiz logo">
            </div>
            <div class="rightSide">
                <h1>Módulo Práctio: Rayos Cósmicos </h1>
                <a [routerLink]="['/question3']"class="buttom" >Empezar el Test</a>
            </div>
            </div>
            <div class="test-a">
              <div class="leftSide">
                <img src="../assets/img/logo.png" alt="quiz logo">
              </div>
              <div class="rightSide">
                <h1>Módulo Práctio: Detectores </h1>
                
                <a class="buttom" [routerLink]="['/question4']">Empezar el Test</a>
              </div>
            </div>  
            <div class="test-a">
                <div class="leftSide">
                  <img src="../assets/img/logo.png" alt="quiz logo">
                </div>
                <div class="rightSide">
                  <h1>Experimento: Cámara de niebla </h1>
                  <a class="buttom" [routerLink]="['/question5']">Empezar el Test</a>
                </div>
              </div>   
          </div>
    </div>
</div>

