.intro .contenedor {
    background-color: whitesmoke;
    padding: 2rem 2rem;
    font-size: 2.5vw;
    margin-top: 140px;
    margin-bottom: 100px;
    border: 10px double black;
    position: relative;
    z-index: 100;
    width: 90vw;
  }
  
  .intro .contenedor::after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
    background-image: url("./img/37775.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.08;
  }
  .img-glosario p {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 20px;
    font-family: 'Ranchers', cursive;
    font-size: 25px;
  }
  .margen {
    margin-left: 40px;
  }
  .intro .contenedor h1 {
    -webkit-text-stroke: 1px black;
    font-size: 60px;
  }
  .intro .contenedor h2 {
    -webkit-text-stroke: 1px black;
    font-size: 30px;
  }
  .img-glosario {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
  }
  .img-glosario p {
    margin-top: -12px;
    font-size: 18px;
  }
  .img-glosario iframe {
    width: auto;

  }
@media only screen and (min-width: 1000px) {
    .intro .contenedor {
        background-color: whitesmoke;
        padding: 4rem 10rem;
        font-size: 1vw;
        margin: 0px 140px;
        margin-top: 140px;
        margin-bottom: 100px;
        border: 10px double black;
        position: relative;
        z-index: 1;
        width: 95%;
      }
      .intro .contenedor::after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: -1;
        background-image: url("./img/37775.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.08;
      }
      .intro .contenedor h1 {
        -webkit-text-stroke: 1px black;
        font-size: 100px;
      }
      .img-glosario {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center ;
        flex-direction: column;
      }
      .img-glosario iframe {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
      }
      
      .img-glosario p {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 20px;
        font-family: 'Ranchers', cursive;
        font-size: 25px;
      }
      .margen {
          margin-left: 40px;
      }
      .color {
        font-family: 'Ranchers', cursive;
      }
}