<section  class="intro container"> 
    <div class="contenedor">
      <h1>1.)Introducción</h1>
      <p>Los rayos cósmicos pueden definirse, de forma básica, como partículas cargadas que proceden de nuestra galaxia o incluso de fuera de ella. Estos rayos cósmicos son generados mediante procesos catastróficos que provocan la generación de partículas desde las menos pesadas hasta las más pesadas como el uranio. <br>
      Estas partículas o núcleos atómicos son acelerados por las fuentes creadoras a velocidades cercanas a la velocidad de la luz, produciendo el comienzo de su viaje a lo largo del espacio interestelar. Estas partículas al viajar a lo largo de todo el espacio intergaláctico van a ir cambiando su trayectoria debido a la interacción con la materia estelar y con los campos magnéticos. Estas interacciones van a provocar un cambio en sus trayectorias dando lugar a que muchas de estas partículas lleguen a la atmósfera  terrestre, produciendo una gran absorción de las mismas, pero las que no son absorbidas, atraviesan la atmósfera llegando a la superficie terrestre en forma de cascadas extensas de partículas.</p>
      <div class="article-video">
        <div class="marcoFoto-1">
          <video controls>
            <source src="./assets/videos/intro.mp4" type="video/mp4">
          </video>
        </div>
        
      </div>
      <div class="column-double">
        <p>Se denominan fuentes primordiales a las fuentes creadoras o aceleradoras de estas partículas, a los rayos cósmicos que viajan a lo largo del espacio intergaláctico se denominan "rayos cósmicos primarios" y a los que se generan, por interaccionar con la materia dentro de nuestro atmósfera se les denomina "rayos cósmicos secundarios."<br><br>
          En el comienzo , el estudio de los rayos cósmicos se encuadro en la física nuclear, debido a que se usaban para el estudio de partículas cargadas . Según iba evolucionando, su interés fue derivando hacia los problemas de la interacción de la radiacción con nuestra tierra. Para finalmente, encuadrarse en el ámbito de la astrofísia debido a que su estudio actual se basa en describir su composición ,  origen, etc.<br><br>

        También decir que hay una gran diferencia de energía entre los rayos más energéticos y menos energéticos, existe una diferencia del orden de unas 16 magnitudes. Se considera que los rayos cósmicos que llegan a la superficie terrestre con energías muy bajas proceden del Sol y los más energéticos proceden de fuera de la galaxia.
        </p>
        <div class="img-ccs">
          <img src="./assets/img/process.JPG" alt="Esquema básico de la vida de un rayo cósmico.">
          <p>Figura 1.1: Esquema básico del viaje que lleva acabo una rayo cósmico desde que se crea hasta que llega a la superficie terrestre.</p>
        </div> 
      </div>
     
      <p>Como he dicho con anterioridad, los rayos cósmicos son partículas o núcleos atómicos generados en los procesos catastróficos, es decir, son partículas que van desde partículas con poca masa, como protones o electrones, hasta partículas o núcleos muy masivos como el hierro. En la figura 1.2, podemos observar una clasificación básica de los rayos cósmicos atendiendo a su masa.</p>
      <div class="table-1">
        <table  width="500" height="280" border="1">
          <caption> Figura 1.2 : Grupos de Rayos Cósmicos.</caption>
          <tbody>
            <tr>
              <td></td>
              <th>Grupos</th>
              <th>Símbolo</th>
            </tr>
            <tr>
              <th>Electrones y Positrones </th>
              <td>electrón</td>
              <td>e</td>
            </tr>
            <tr>
              <th>Núcleos de Hidrógeno</th>
              <td>protón</td>
              <td>H</td>
            </tr>
            <tr>
              <th>Núcleos de Helio</th>
              <td>alfa</td>
              <td>He</td>
            </tr>
            <tr>
              <th>Ligeros</th>
              <td>L</td>
              <td>Li,Be,B</td>
            </tr>
            <tr>
              <th>Medios</th>
              <td>M</td>
              <td>C,N,O,F</td>
            </tr>
            <tr>
              <th>Pesados</th>
              <td>h</td>
              <td>Ne a K</td>
            </tr>
            <tr>
              <th>Muy Pesados</th>
              <td>VH</td>
              <td> Ca a Zn</td>
            </tr>
            <tr>
              <th>Ultra Pesados</th>
              <td>UH</td>
              <td> >Zn</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>Por último, voy a realizar una breve explicación de como va a estar dividida la parte de teoría a partir de este momento. Esta sección va a estar dividida en apartados, donde en cada uno de ellos se va a explicar un determinado aspecto de toda la teoría que engloba a los rayos cósmicos. Estas secciones van a ser: </p>
      <ul>
        <li><span>Descubrimiento:</span> En esta sección vamos a hablar de los diferentes hechos o experimentos que se realizaron a lo largo de la historia para saber su origen, composición y sobre todo lo que son los rayos cósmicos.</li>
        <li><span>Partículas elementales :</span>  En esta sección hablaremos de las partículas fundamentales que forman estos rayos cósmicos.</li>
        <li> <span>Rayos cósmicos: </span> En esta sección hablaremos de su origen, composición y de como son acelerados.</li>
        <li><span>Detección : </span> En esa sección hablaremos sobre los instrumentos que se han creado a lo largo de la historia para detectar estos rayos cósmicos.</li>
      </ul>  
    </div>  
</section>
