
<!--Section Project-->
<section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title">Pr<span>ac</span>tica</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1> <a href="#">Tipo test</a> </h1>
            <a [routerLink]="['/test']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
            <p>En esta sección haremos uso de un tipo test con preguntas con única respuesta correcta para así afianzar conocimientos.</p>
          </div>
          <div class="project-img">
            <img src="./assets/img/37775.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1> <a href="#">Conceptos y Problemas</a> </h1>
            <a [routerLink]="['/concepto']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
            <p>Una sección de problemas y algunos conceptos interesantes sobre el módulo de teoría realizado. </p>
          </div>
          <div class="project-img">
            <img src="./assets/img/37775.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>  
</section>
  <!--End Section Poject-->
