<div class="intro container">
    <div class="contenedor">
      <h1>3.) Particulas elementales</h1>
      <p>
        En los inicios se consideró que el átomo era la partı́cula fundamental.
        Aunque poco tiempo después esta hipótesis fue rechazada debido a que se
        observó que el átomo estaba formado por partı́culas más pequeñas(electrones
        y nucleones).¿Qué significó este desubrimiento? Este descubrimiento significó
        que un partı́cula u objeto puede ser considerada elemental dependiendo de las
        distancia que seamos capaces de medir o de forma equvilamente de la energı́a
        que se de en los procesos fı́sicos. Debido a esto el átomo fue considerado du-
        rante mucho tiempo la partı́cula fuandamental, hasta que se desarrolló la
        instrumentación necesaria como para poder medir o detectar las partı́culas
        de las que se encuentra formado. Posterioremente se descubrió que los nu-
        cleones a su vez se encontraban formados por 3 partı́culas más pequeñas
        denominadas quarks.  <br> <br>
        Por tanto, teniendo esto presente, ¿ Qué clase de definición podemos dar-
        le al concepto de Partı́cula elemental ?. La definición que podemos dar es
        la siguiente: ”Las partı́culas elementales son el compomente funamental de
        la materia. Estas partı́culas no presentan estructura interna ni se conocen
        si están formados por otras partı́culas, debido a que no se han observado
        partı́culas más pequeñas que ellas formando estas partı́culas. Aunque esta
        última afirmación no es del todo exacta debido a que no se ha podido hacer
        medidas de distancias más pequeñas a las actuales y por tanto, no podemos
        saber si existen partı́culas incluso más pequeñas que los quarks formadon los
        nucleones. En la actualidad se consideran partı́culas fundamentales: Quarks,
        Leptones y Bosones de Gauge<br>
      En la actualidad se consideran partículas fundamentales: Quarks, Leptones y Bosones de Gauge. <br> <br>
      En la figura 3.1 podemos observar estas tres clases de partículas fundamentales:  </p>     
      <div class="img-par">
        <img class="aumentar0" src="./assets/img/Tabla de Partículas Elementales.png" alt="Esquema básico de la vida de un rayo cósmico." onclick="increase(document.querySelector('.aumentar0'))">
        <p >Figura  3.1: Tabla de leptones, quarks y bosones de gauge</p>
      </div> 
      <h2>Masa y Carga</h2>
      <h3>a.) Carga eléctrica</h3>
      <p>La carga eléctrica total de un determinado proceso físico siempre se conserva, esto implica que conocida la carga de una partícula podemos definir las cargas de las partículas que intervienen en el proceso físico con respecto a ella. <br> La magnitud elegida como valor absoluto es la carga del electrón : |e| = 1,602 x 10<sup>-19</sup>C. De momento no se han detectado partículas libres con carga eléctrica que no sea un múltiplo entero  de la carga del electrón.</p>
      <h3>b.) Masa</h3>
      <p>La masa en reposo de estas partículas es despreciable en comparación con la masa de cualquier objeto macroscópico.  Debido a que estas masas son extremadamente pequeñas fue necesario introducir unidades idóneas para estudiar los procesos físicos que sufren. Estas unidades fueron llamadas Unidades Naturales.</p>
      <div class="img-para">
        <img class="aumentar2" src="./assets/img/Unidades Naturales.png" alt="Esquema básico de la vida de un rayo cósmico." onclick="increase(document.querySelector('.aumentar2'))" >
        <p>Figura 3.2: Constantes fundamentales de la mecánica cuántica relativista en el sistema internacional y en el sistema de las unidades naturales.</p> 
      </div>
      <p>En la imagen anterior podemos observar las dos constantes fundamentales de la mecánica cuántica relativista en el sistema internacional de unidades y en el sistema de unidades naturales. Por último en este apartado vamos a ver la expresión de la masa de un electrón en el sistema internacional y el sistema de unidades naturales. 
      </p>
      <ul>
        <li class="margen">   <span>Sistemas Internacional : m<sub>e</sub> = 9,109 x 10<sup>-31</sup>Kg</span>     </li>
        <li class="margen"> <span>Sistema de unidades naturales :  E = m c<sup>2</sup> = 9,109 x 10<sup>-31</sup>Kg x (2,998 x 10 <sup>8</sup> m/s  ) <sup>2</sup> = 81,872 x 10 <sup>-15</sup> Js = 0,511 Mev  </span> </li>
      <br></ul>
      <p>De la igualdad de masa en ambos sistemas se deduce la siguiente equivalencia: <span class="title-e">1 Kg = 5,609 x 10 <sup>29</sup> Mev</span>   </p>
      <!--Clasificación de partículas-->
      <h2>Clasificación de partículas</h2>
      Antes de hablar sobre las partículas elementales es necesario realizar una clasificación previa atendiendo a sus propiedades. Los criterios considerados son los siguientes:
      <ul>
        <li><span> a). Espín entero o Semientero:</span>   Atendiendo al espín podemos clasificarlas en ferminones, cuando presentan espín semientero, y bosones ,cuando presentan espín entero. Ambos tipos de partículas obedecen estadísticas diferentes, Fermi-Dirac y Bose-Einstein , respectivamente. En la sección "Apéndice" viene explicado que es el "espín", recomiendo que le echen un ojo antes de seguir. <br> <br> </li>
        <li><span>b). Tipo de interacción en que intervienen:</span> Las partículas elementales pueden intervenir en interacciones fuertes, débiles y electromagnéticas. La interacción gravitacional no es importante en este tipo de partículas elementales. Vamos a ver una explicación breve de las 3 interacciones mencionadas.
        <h4>1.) Interacción electromagnética.</h4>
        <p class="margen"> Las interacciones electromagnéticas son las responsables de la existencia de átomos y moléculas. Vamos a realizar una interpretación cuántica de este tipo de interacciones. Para ver esto vamos al ver el proceso de repulsión de dos electrones. </p>
        <div class="img-para-1">
          <img src="./assets/img/electron-electron.png" alt="Esquema básico de la vida de un rayo cósmico." >
          <p>Figura 3.3: Interpretación cuántica de la respulsión de electrones.</p> 
        </div>
        <p class="margen">El primer electrón emite un fotón(cuanto de energía) que se propaga y es absorbido por el segundo electrón. Siendo el fotón el encargado de transportar el momento y la energía de uno a otro cambiando la dirección de propagación de estos. Esto significa que el fotón es la partícula mediadora de la interacción electromagnética. Este tipo de interacción presentan alcance infinito debido a que la masa del fotón es nula.  </p>
        <h4>2.) Interacciones fuertes</h4>
        <p class="margen">Esta interacción es la responsable de la existencia de los núcleos atómicos, también presentan un alcance de corto alcance de unos pocos fermis. Si aplicamos el mismo análisis que para la interacción electromagnética observamos que la partícula mediadora presenta una energía de unos 102 Mev. AL principio se pensó que las partículas mediadoras podían ser muones, pero se averiguó que no sufrían esta interacción, más tarde se pensó que podían ser piones debido a que sufrían esta interacción. Esta interpretación cuántica se puede observar en la siguiente imagen:</p>
        <div class="img-para-1">
          <img src="./assets/img/neutron-neutron.png" alt="Esquema básico de la vida de un rayo cósmico.">
          <p>Figura 3.4: Interpretación cuántica de la interacción cuántica entre dos nucleones.</p> 
        </div>
        <p class="margen">El pión como mediador es solamente válido para bajas energías. A altas energías como detectamos los quarks es imposible que los piones sean las partículas mediadoras debido a que están formados por estos quarks, por tanto, la partícula mediadora va a ser la que actúe entra quarks que se denomina gluón.</p>
        <h4>c.) Interacciones débiles</h4>
        <p class="margen"> La fuerza o interacción débil es la responsable de decaimiento de los quarks en otros quarks menos pesados. Es decir, los quarks cambian a quarks menos pesados pero con una mayor energía cinética. Destacar que los quarks más ligero y los leptones no decaen en otras partículas más pequeñas. Este tipo de interacción se encuentra enmascarada por la interacción fuerte y electromagnética debido  a que se da solamente cuando alguna de las otras dos se encuentran prohibidas. Existen tres tipos de partículas mediadoras dependiendo de la carga: W<sup>+</sup>, W <sup>-</sup> y Z<sup>0</sup> <br> <br></p>  
        </li>
        <li> <span>c.) Estabilidad e Inestabilidad. Vida media:</span> Las partículas pueden desintegrarse en partículas de menor masa que ellas : 
          <div class="img-para">
            <img src="./assets/img/estabilidad.png" alt="Esquema básico de la vida de un rayo cósmico.">
            <p>Figura 3.5: Ejemplo de desintegración de partículas.</p> <br>
          </div>
          <p>Estas mismas partículas pueden desintegrarse de diferentes formas o canales, es decir, las partículas hijas pueden ser muy diversas. Definimos el ritmo de desintegración de de una partícula como la probabilidad de desintegración de la partícula por unidad de tiempo considerando todas las posibles canales de desintegración . La inversa de este ritmo de desintegración es lo que denominamos vida media y entre mayor sea su valor más estable va a ser la partícula en cuestión.</p>  
        </li>
      </ul> 
      <!--Leyes de Conservación-->
      <h2>Leyes de Conservación</h2>
      <p>Las leyes de conservación son leyes fundamentales de la física que postulan que una magnitud de un proceso físico se mantiene constante a lo largo del tiempo. Estas leyes tienen una gran importancia debido a que podemos determinar las partículas hijas de una interacción conociendo las propiedades de la madre y viceversa.</p>
      <h3>1.) Energía </h3>
      <p>Esta ley de conservación dicta que la energía de estado inicial debe ser igual al estado final , esto puede verse en el siguiente proceso donde estamos considerando  un número "n" de partículas que se desintegra en "m" núcleos hijos :</p>
      <div class="img-para">
        <img class="aumentar3"src="./assets/img/conservación de energía.png" alt="Esquema básico de la vida de un rayo cósmico." onclick="increase(document.querySelector('.aumentar3'))"onclick="increase(document.querySelector('.aumentar3'))">
        <p>Figura 3.7: Proceso donde se obserar la ley de conservación de las energías.</p> 
      </div>
      <p>AL observar el proceso anterior podemos deducir  que esta ley de la conservación es absoluta y aditiva.</p>
      <h3>2.) Momento lineal</h3>
      <p>Esta ley es análoga a la anterior, es decir, el momento lineal del estado inicial debe ser idéntico al momento lineal del estado final siendo esta ley también absoluta y aditiva. </p>
      <div class="img-para">
        <img src="./assets/img/conservación del momento.png" alt="Esquema básico de la vida de un rayo cósmico.">
        <p>Figura 3.8: Proceso donde se obervar la ley de conservación de los momentos lineales.</p> 
      </div>
      <h3>3.) Momento Angular Total</h3>
      <p>Esta ley dicta que el momento angular total inicial de un sistema debe ser igual al momento angular total del estado final, es decir:</p>
        <div class="img-para">
          <img src="./assets/img/Momento Angular.png" alt="Esquema básico de la vida de un rayo cósmico.">
          <p>Figura 3.9: Proceso donde se obervar la ley de conservación del momento Angular total.</p> 
        </div>
      <p>Siendo este momento angular total la suma del momento angular órbital y el momento angular de espín. De nuevo , esta ley es absoluta y aditiva.</p>
      <h3>4.) Conservación de la carga eléctrica</h3>
      <p>Esta ley como las anteriores es una ley absoluta y aditiva, es decir, la carga eléctrica del estado inicial debe ser idéntica a la carga del estado final.</p>
      <h3>5.) Isospín</h3>
      <p>El físico w.Heisenberg propuso en el 1932 que el protón y el neutrón eran dos estados diferentes de la misma partícula, nombrando a esta partícula nucleón. Este nucleón presenta una propiedad intrínseca parecida al espín, denominada isospín. El protón sería el estado de isospín de 1/2 con su tercera componente igual a 1/2 y el neutrón sería el estado de isospín de 1/2 con su tercera componente igual a -1/2, formando lo que se denomina doblete de isospín. I se conserva en las interaccione fuertes y no se conserva en las débiles y la tercera componente solamente se conserva en la electromagnética.</p>
      <h3>6.) Número cuánticos aditivos</h3>
      <p>Los números cuánticos son números asociados a magnitudes físicas conservadas en ciertos sistemas cuánticos. Aun número cuántico se le asocia una determinada propiedad de la partícula.</p>
      <h4>Número bariónico</h4>
      <p class="margen">En la física de partículas, el número bariónico es un número cuántico invariante. Se puede definir como un tercio del número de quarks menos un tercio del número de antiquarks que forman la partícula en cuestión: B = (N<sub>q</sub> -N <sub>anti-q</sub>).</p>
      <h4>Números leptónicos</h4>
      <p class="margen">El número leptónico es el número de leptones menos el número de antileptones: L = n <sub>lep</sub> - n <sub>anti-lpe</sub>. Este número cuántico es un número cuántico aditivo. La familia de números leptónico están definidas en 3 familias:</p>
      <ul class="margen">
        <li class="margen"> <span>El número electrónico"L <sub>e</sub>": </span> Esta es la familia del electrón y el neutrino electrónico.  </li>
        <li class="margen"> <span>El número electrónico"L <sub>u</sub>": </span> Esta es la familia para el muon y el neutrino muónico.</li>
        <li class="margen"> <span>El número electrónico"L <sub>tau</sub>": </span> Esta es la familia para el muon y el neutrino muónico.</li>
        <br>
      </ul>
      <p class="margen">Estos números leptónicos se conservan en todas las interacciones conocidas hasta el momento, en el caso de que no se conservase en una determinada interacción dicha interacción no se puede producir.</p>
      <h4>Extrañeza</h4>
      <p class="margen">Es una propiedad de las partículas expresada como número cuántico para describir la descomposición en reacciones fuertes y electromagnética que ocurren en un corto período de tiempo. La extrañeza se define como:  <br>  S = n<sub>anti-q</sub> - n <sub>q</sub> donde n<sub>q</sub> es el número de antiquark y  n<sub>q</sub> es el número de quark, concretamente estos quarks son "extraños".</p>  
      <h4>Encanto, Belleza y verdad</h4>
      <p class="margen">Estas tres propiedades son análogas a la extrañeza , son número cuánticos internos y aditivos que se asocian a los elementos que forman los hadrones. Tanto S, C, B y T no se conservan en las interaccones débiles. <br>  T = N(t) - N(anti-t), B = -N(b) + N(anti-b) y C = N(c) - N(anti-c). Estos números cuánticos entenderemos mejor que significan cuando estudiemos los quarks propiamente dichos. <br></p> <br>
      <h3>7.) Paridad</h3>
      <h3>8.) Conjugación de carga</h3>
      <p>La conjugación de carga es una operación que cambia una partícula de momento p y espín s en su correspondiente anti-partícula con el mismo momento y espín. Las interacciones fuertes y electromagnéticas preservan esta simetría. Por el contrario, las interacciones débiles no preservarn esta simetría.</p>
      <h3>9.) Inversión temporal</h3>
      <h3>10.) Simetría CPT</h3>
      <p>Hasta este momento actual los procesos conocidos son invariantes bajo esta simetría, es decir, bajo la aplicación sucesiva de la inversión temporal, la paridad y la conjugación de carga. La CPT es una ley de conservación absoluta. <br> <br></p>
      En la figura 3.10 podemos observar un resumen de todas estas leyes y en que interacciones se conservan.
      <div class="img-para-12">
        <img class="aumentar1" src="./assets/img/Conservación.png" alt="Esquema básico de la vida de un rayo cósmico." onclick="increase(document.querySelector('.aumentar1'))">
        <p>Figura 3.10: Leyes de conservación.</p> 
      </div>
      <h2>Particulas Fundamentales: Quarks, Leptones y Bosones de Gauge</h2>
      <h3>Leptones</h3>
      Los leptones son fermiones que presentan espín 1/2 en el caso de los neutrinos  y +/-1/2 en los demás leptones que experimentan interacción fuerte. Estos leptones son fermiones sin carga hadrónica o de color. Existen seis leptones y sus correspondientes antipartículas : el electrón, el muón , el tau y tres neutrinos asociados a cada uno de ellos.
      <div class="img-para-1">
        <img src="./assets/img/Tabla de leptones.png" alt="Esquema básico de la vida de un rayo cósmico."> <br>
        <p>Figura 3.11: Tablas de leptones.</p> 
      </div>
      
      <h3>Quarks</h3>
      Los quarks no se han observado en estado libre. Su masa puede estimarse a partir de modelos, pero no se puede medir directamente ya que no se encuentran en estado libre, así que los parámetros de entrada en los modelos son aportados según los datos experimentales. La interacción fuerte es la que gobierna los procesos entre quarks. Los estados ligados entre quarks son los denominados hadrones. 
      <div class="img-para-1">
        <img src="./assets/img/Tabla de quarks.png" alt="Esquema básico de la vida de un rayo cósmico."> <br><br>
        <p>Figura 3.12: Tablas de quarks.</p> 
      </div>
      <h4>Hadrones</h4>
      Los hadrones son lo estados ligados de los quarks, todos ellos presentan carga eléctrica entera. Según el modelo de quarks hay esencialmente 2 tipos : 
      <ul>
        <li> <span>Bariones :</span>Son hadrones que se encuentran formados por 3 quarks que pueden ser iguales o incluso diferentes entre sí. A este tipo de partículas pertenecen los nucleones(protones y neutrones).</li>
        <li><span>Mesones :</span>Son lo hadrones que están formados por dos quarks, obligatoriamente deben ser un quark y un anti-quark. A este tipo de hadrones pertenecen los piones.</li>
      </ul>
      Ahora bien, vamos a hablar un poco de algunos hadrones para después hablar de las partículas que los forman.
      <h4>Algunos ejemplos de hadrones.</h4>
      <h5>Protón: p</h5>
      Los protones son partículas subatómicas que presentan carga eléctica positiva, una masa de 938.27 Mev y un espín igual a 1/2. Siendo los protones fermiones.
      <h5>Neutrón: n</h5>
      Rutherford predijo la existencia de partículas neutras con masa ligeramente superior a la del protón dentro del núcleo. La masa presenta un valor de  939.57 MeV , unca carga nula y un epín semientero. Siendo un fermión.
      <h5>Piones:&#960; <sup>-</sup>, &#960; <sup>+</sup>, &#960; <sup>0</sup> </h5>
      En 1947, C.G.Lattes, H.Muirhead, G.Occhialimi y C.P.Powell analizaron placas de emulsión nuclear. Al analizar estas dos placas, observaron la existencia de dos partículas cargadas ,los piones cargados.
     <h4>Tipos de quarks.</h4>
     <h5>Quarks up : u y quark down: d</h5>
    A finales de la década de los 70 se llevaron acabo experimentos de choques de electrones acelerados a 20 GeV contra protones. Estos experimentos demostraron que el protón estaba constituido por tres partículas puntuales. Este hecho fue la confirmación de que el protón no era una partícula puntual sino un estado ligado de tres quarks. A partir del protón podemos deducir las características de los quarks, es decir, considerando la carga, su espín, su número bariónico y su isospín podemos deducir estos valores para los quarks u y d. Esto valores se pueden ver en la siguiente tabla: 
    <div class="boton-tabla">
      <button class="buttom" (click)="VerTabla()">Ver tabla</button>
      <div class="u-d">
        <table class="table-u-d ">
          <tr>
            <td>Quark</td>
            <td>Carga eléctrica</td>
            <td>Espín</td>
            <td>Número bariónico</td>
            <td>Isospín</td>
            <td>I<sub>3</sub></td>
          </tr>
          <tr>
            <td>u</td>
            <td>2/3</td>
            <td>1/2</td>
            <td>1/3</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>d</td>
            <td>-1/3</td>
            <td>1/2</td>
            <td>1/3</td>
            <td>0</td>
            <td>0</td>
          </tr>
          
          </table>
          <div class="title-quark">Figura 3.13: Propiedades de los  quarks: up y down.</div> 
      </div>
        
         
      </div>
    <h5>El tercer quark : "s=strange"</h5>
    Este quark fue propuesto por Murray Gell-Mann para explicar la emorme variedad de hadrones observados hasta finales de la década de los 70, debido a que mucho de esos hadrones no podrían existir solamente con los quarks "u" y "d". Este quark es una partícula elemental que pertenence a la segunda generación de quaks. En la siguiente tabla observamos las características de este quark: 
    <div class="boton-tabla">
      <button class="buttom" (click)="VerTablaS()">Ver tabla</button>
      <div class="s">
        <table class="table-u-d">
          <tr>
            <td>Quark</td>
            <td>Carga eléctrica</td>
            <td>Espín</td>
            <td>Número bariónico</td>
            <td>Isospín</td>
            <td>I<sub>3</sub></td>
            <td>s</td>
          </tr>
          <tr>
            <td>q</td>
            <td>-1/3</td>
            <td>1/2</td>
            <td>1/3</td>
            <td>0</td>
            <td>0</td>
            <td>-1</td>
          </tr>
          
        </table>
        <div class="title-quark">Figura 3.14: Características del quark "s"</div>  
      </div>
    </div>  
    
    
    La materia hadrónica que nos rodea está constituida esencialmente por este tipo de quarks u, d y s , así como sus antipartículas. En cambio, a altas energías se encuentrarn hadrones formados por nuevos quarks más pesados que los anteriores. Estos son los dos últimos quarks que nos quedan por estudiar.
    <h5>El cuarto quark : "c=charm"</h5>
    En las décadas de los años sesenta se hizo una comparación entre leptones y los quarks conocidos hasta el momento. Se observo que había "dos" familias letónicas y  "una y media" hadrónica. Esta diferencia entre leptones y quarks, llevo a S.Glaswow en el 1964 a postular la existencia de un cuarto quark: "c". A partir de este postulado se llevaron acabo diferentes procesos , como colisiones de partículas,etc para confirmar la existencia de este quark, concretamente se confirmó la existencia de este quark en hadrones muy pesados detectados en los rayos cósmicos o en aceleradores de partículas de alta energía. En la siguiente tabla obtenemos las características de este quark:
    <div class="boton-tabla">
      <button class="buttom" (click)="VerTablaC()">Ver tabla</button>
      <div class="c">
        <table class="table-u-d">
          <tr>
            <td>Quark</td>
            <td>Carga eléctrica</td>
            <td>Espín</td>
            <td>Número bariónico</td>
            <td>Isospín</td>
            <td>I<sub>3</sub></td>
            <td>s</td>
            <td>c</td>
          </tr>
          <tr>
            <td>c</td>
            <td>2/3</td>
            <td>1/2</td>
            <td>1/3</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
          </tr>
           
        </table>
        <div class="title-quark">Figura 3.15: Características del quark "c"</div> 
      </div>
    </div>
    
    <h5>El quinto quark : "b=bottom"</h5>
    En el 1978, e, D.E.S.Y, se observó un pico de energía tres veces superior al hadrón más energético detectado hasta el momento en el choque entre un electrón y un positrón. Es decir, detectaron la existencia de 
    una partícula con una masa superior al hadrón más pesado detectado hasta el momento y con una vida media relativamente larga. Este nuevo hadrón denominado "upsilons" dio lugar a la confirmación de un nuevo quark denominado "b", siendo este hadrón el estado ligado fundamental de este quark. En las siguiente tabla obtenemos las características de este quark:
    <div class="boton-tabla">
      <button class="buttom" (click)="VerTablaB()">Ver tabla</button>
      <div class="b">
        <table class="table-u-d">
          <tr>
            <td>Quark</td>
            <td>Carga eléctrica</td>
            <td>Espín</td>
            <td>Número bariónico</td>
            <td>Isospín</td>
            <td>I<sub>3</sub></td>
            <td>S</td>
            <td>C</td>
            <td>B</td>
          </tr>
          <tr>
            <td>b</td>
            <td>-1/3</td>
            <td>1/2</td>
            <td>1/3</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
          </tr>
          
        </table>
        <div class="title-quark">Figura 3.16: Características del quark "b"</div>  
      </div>
    </div>
   
    
    <h5>El sexto quark: "t=truth"  </h5>
    De nuevo al comparar las familias de leptones y hadrones, vemos de nuevo que existen "3" familias de leptoens y "2 y media" de  hadrones, de nuevo este hecho llevo al postulado de un nuevo quark, siendo este quark mucho más pesado que los anteriores denominado "t". Las características de este quark son las siguientes:
    <div class="boton-tabla">
      <button class="buttom" (click)="VerTablaT()">Ver tabla</button>
      <div class="t">
        <table class="table-u-d">
      <tr>
        <td>Quark</td>
        <td>Carga eléctrica</td>
        <td>Espín</td>
        <td>Número bariónico</td>
        <td>Isospín</td>
        <td>I<sub>3</sub></td>
        <td>S</td>
        <td>C</td>
        <td>B</td>
        <td>T</td> 
      </tr>
      <tr>
        <td>b</td>
        <td>2/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
      </tr>
       
        </table>
        <div class="title-quark">Figura 3.17: Características del quark "t"</div> 
      </div>
    </div>  
     
    <h4>Color</h4>
      Por último, vamos a hablar de forma muy breve de la último propiedad intrínseca que presentan estos quarks. Esta propiedad se denomina color. Poco tiempo después de que la existencia de los quarks fuera propuesta por primera vez en 1964, Oscar W. Greenberg introdujo la noción de la carga de color para explicar cómo los quarks podían coexistir dentro de algunos hadrones en estados idénticos y todavía satisfacer el principio de exclusión de Pauli. El concepto resultó ser útil. La cromodinámica cuántica ha estado en desarrollo desde la década de 1970 y constituye un ingrediente importante en el modelo estándar de la física de partículas.
      <div class="boton-tabla">
        <button class="buttom" (click)="VerTablaAll()">Ver tabla</button>
        <div class="all">
          <table class="table-u-d">
        <tr>
          <td>Quark</td>
          <td>Carga eléctrica</td>
          <td>Espín</td>
          <td>Número bariónico</td>
          <td>Isospín</td>
          <td>I<sub>3</sub></td>
          <td>S</td>
          <td>C</td>
          <td>B</td>
          <td>T</td> 
        </tr>
        <tr>
        <td>u</td>
        <td>2/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>1/2</td>
        <td>1/2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>d</td>
        <td>-1/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>1/2</td>
        <td>-1/2</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>s</td>
        <td>-1/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>0</td>
        <td>0</td>
        <td>-1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      
      <tr>
        <td>c</td>
        <td>2/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>b</td>
        <td>-1/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>t</td>
        <td>2/3</td>
        <td>1/2</td>
        <td>1/3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
      </tr>
      
          </table>
          <div class="title-quark">Figura 3.18: Resumen de todas las propiedades intrínsecas de los quarks</div> 
      </div>
      </div>
    <h3>Bosones de Gauge</h3>
    Un bosón de gauge es un bosón que actúa como partícula de intercambio en los procesos de interacción fundamental de la materia, es decir , son las partículas que sirven de intercambio en los procesos de interacción de las partículas elementales, donde actúan como partículas virtuales. Existen cuatro tipos, aunque del bosón gravitacional no vamos a hablar debido a que carece de intéres en el tema principal de esta página.
    <h4>Bosones W y Z</h4>
    Los bosones W y Z son las partículas de intercambio de la interacción de débil. Este tipo de interacción se denomina "déibl" debido a que queda enmascarada siempre que la interacción electromagnética y fuerte no estén prohibidas. Estos bosones fueron observados por primera vez en el 1983 en el "CERN" aunque habían sido predichos teóricamente con mucha anterioridad. Existen esnencialmente dos tipos : los de tipo "W",  uno es la antipartícula del otro, es decir, uno presenta carga elemental positiva y el otro negativa, y los tipo "Z" presentan carga neutra. Estos tres bosones presentan spin 1 y una vida media muy corta.  
    
    <h4>Gluón</h4>
    EL bosón gluón actúa como partícula de intercambio de la interacción fuerte. Este tipo de interacción es la que se da entre los quarks. Estos bosones no presentan ni masa ni carga eleéctrica, pero si carga de color. 
    
    <h4>Fotón</h4>
    Es el bosón de intercambio en las interacciones electromagnéticas , siendo la portadora de todas las formas de radiación electromagnética, incluidos los rayas gammas, los rayos x, la luz ultravioelta,etc. El fotón presenta una masa invariante cero y viaja a la velocidad de a luz. Este proton presenta espín +-1.




  </div>
  </div>