<div class="intro container">
    <div class="contenedor">
      <h1>2.)Descubrimiento De los Rayos Cósmicos. </h1>
      <p>El comienzo del estudio de los rayos cósmicos tuvo lugar en el 1785 de la mano del físico francés C.A.Coulomb. Él observó que una esfera cargada se descargaba sin razón aparente, es decir, la esfera se descargaba con el paso del tiempo sin ninguna evidencia de la causa de dicha descarga. Coulomb postuló que esta descarga era debida a la colisión de las moléculas del aire con la esfera, siendo esta  hipótesis desechada por argumentos de teoría cinética de gases. Posteriormente el físico y químico M.Faraday  definió el concepto de ionización e intento explicar las causas de la descarga de la esfera. <br><br> 
      
      <div class="desc-imagen">
        <div class="img-1">
          <a href="https://es.wikipedia.org/wiki/Michael_Faraday"><img src="../assets/img/Faraday.jpg" alt="M.Farady"></a>
          <p>Figura 2.1: Michael Farady, 1861</p>
        </div>
        <div class="img-2">
          <a href="https://es.wikipedia.org/wiki/Michael_Faraday"><img src="../assets/img/coulomb.jpg" alt="Coulomb"></a>
          <p>Figura 2.2: C.A Coulomb</p>
        </div>
      </div>
      <p>En el 1901, C.T.R.Wilson dijo que la ionización espontánea que ocurría en el aire podía ser debido a un radiación que podría proceder del espacio exterior. Se realizaron muchas investigaciones para así confirmar esta hipótesis, pero lo único que confirmaron fue una cierta dependencia con la altitud. <br><br>
      Hasta este momento la investigación sobre los rayos cósmicos no había conseguido ningún avanzado significativo. Pero en cambio, en el 1910 el A.Gockel dio un paso en la buena dirección. Realizó numerosas ascensiones en globos sondas
      para realizar medidas de la ionización a diferentes altura, todo esto usando cámaras de ionización para realizar las medidas. Las medidas realizadas en el lago de Zürich y cerca de Berna le dieron evidencias de una cierta fluctuación con la
      altura, esto le permitió formular la siguiente conclusión:<strong>" La radiación debía proceder bien de la atmósfera o de un cuerpo celeste que no sea la tierra".</strong>   <br><br>
      Pero el gran avance fue realizado por V.F.Hess, debido a que las diferentes ascensiones que realizó demostraron la existencia de radiación procedente del espacio exterior. Este hecho se puede ver en la figura 1.3, donde se observan las
      medidas que realizó en función de la altura. Como podemos ver en dicha imagen existe una caída en la ionización entre los 1000 y 2000 para después aumentar de forma repentina. <br>Hess concluía en su célebre artículo publicado en Physik,
      Zeitschrift, XIII, 1912, lo siguiente: <strong>“Los resultados de estas observaciones parecen poder interpretarse admitiendo sencillamente que una radiación con gran poder de penetración procede de la parte superior de la atmósfera y, aunque
      progresivamente atenuada por ella, produce, incluso en las zonas más bajas, una parte de la ionización observada en las cámaras cerradas. La intensidad de esta radiación parece estar afectada por pequeñas variaciones aleatorias”</strong>  </p>
      <div class="desc-imagen">
        <div class="img-3">
          <img src="../assets/img/vf_hess_observaciones.PNG" alt="Hess">
          <p>Figura 2.3: Medidas realizadas por Hess donde se observa la dependencia de la ionización con la altura.</p>
        </div>
        <div class="img-4">
          <img src="../assets/img/w.PNG" alt="Coulomb">
          <p>Figura 2.4: Medidas de la ionización en función de la altura realizadas por W.Kolhorster</p>
        </div>
      </div>
      <p>Los resultados de Hess fueron confirmados por W.Kolhörster que realizó ascensiones hasta alturas cercanas a 9600m. A esta altura observó, al realizar diferentes medidas, que la ionización era 8 veces mayor que la que se encontraba en la superficie terrestre. Esto puede observarse en la figura 1.4.<br>
        En la década de los años 20 el  físico R.A.Milkan entró en la escena de los rayos cósmicos. Con la ayuda de una gran instrumentación construyó electrómetros muy precisos que le permitieron realizar medidas, en diversos países, de la ionización en función de la altura, presión y temperatura. Estas medidas confirmaron las realizadas por Hess y Kolhörster, concluyendo que el origen de la radiación observada no se encontraba dentro de nuestra atmósfera.También supuso que los rayos cósmicos eran rayos gammas, debido que
        era la radiación más penetrante conocida hasta el momento, poco tiempo
        después se descubrió, que la radiación gamma era solamente un porcentaje
        de la radiación cósmica. <br> <br>
      Aunque hubo una gran actividad durante los años 20, era evidente que el avance sobre este campo era limitado debido a la instrumentación disponible. La invención de los contadores Geiger-müller y la mejora en la sensibilidad y fiabilidad de las cámaras de nieblas produjo un antes y un después en el estudio de los rayos cósmicos, siendo estos instrumentos muy importantes en las investigaciones posteriores a esta época.
      <div class="desc-imagen">
        <div class="img-3">
          <img src="../assets/img/geiger.jpg" alt="Hess">
          <p>Figura 2.5: Ejemplo de un detector Geiger-müller comercial.</p>
        </div>
        <div class="img-4">
          <img src="../assets/img/trazas-partículas.jpeg" alt="Cámara de niebla realizada de forma casera.">
          <p>Figura 1.6: Imagen representatva de las trazas de las partículas.</p>
        </div>
      </div>
      <p> 
      Después de los años 20, las investigaciones pioneras de  Rossi, manifestaron que la radiación cósmica presentaba dos componentes: una podía atravesar planchas de plomo de unos 10 cm y la otra planchas de plomo de 1m.
      En los años 30, las fotografías obtenidas de las cámaras de nieblas generaron cierta perplejidad debido a que se detectó trazas simultáneas de partículas cargadas . Estos sucesos fueron denominados cascadas. Con estas cámaras de nieblas se detectaron muchas partículas, como positrones,piones,muones,etc. Un ejemplo de esta captación de partículas se puede
      observar en la figura 1.7 la traza de un pión al ser fotografiado por la cámara
      de niebla.
      <div class="img-piones">
        <img src="../assets/img/trazas de piones.JPG" alt="trazas de piones">
        <p>Figura 2.7: Fotografía de la traza de un pión realizada por físicos argentinos en los años 50.</p>
      </div>
      <br> <br>
      <p>A finales de los años 30 se consideraba que la mayoría de rayos cósmicos eran
        partículas positivas, aunque existía un alto porcentaje de fotones y electrones. También se consideraba que la radiación cósmica de alta energía procedía
        de fuera de nuestra atmósfera. 
        En el 1938 el físico Pierre Auger extendió la escalada de energía hasta unos
        10 <sup>15</sup>eV debido a la observación de estas cascadas de partículas y la invención
        de un algoritmo que determinaba la energía de los rayos cósmicos primarios.
        En el 1949 Enrico Fermi propuso un mecanismo de aceleración para los rayos cósmicos primarios, dicho mecanismo tenía en cuenta las colisiones de
        partículas con los campos electromagnéticos. <br>
        Poco después, en el 1954, Enrico Fermi modificó esta teoría logrando descubrir un mecanismo aún más eficiente que el anterior, teniendo en cuenta el choque de las partículas con las ondas de choque resultantes de la remanente de una supernova. <br>
        La estación Harvar Agassiz , entre los años 1954 y 1957, montó un total de 15
contadores Geiger-Müller que lograron detectar energías de rayos primarios
de unos 3 x 10 <sup>15</sup> ev - 3 x 10 <sup>18</sup>ev.

El experimento de Volcano Roach fue el primero en manifestar la existencia
de rayos cósmicos con energías aproximadas de unos 10 <sup>20</sup>ev. A partir de esta detección, se empezaron a llamar Rayos cósmicos de alta energía a toda
radiación cósmica que presentara un energía superior a 10 <sup>15</sup>ev. <br><br>
Después de estas observaciones descubrieron que la cantidad de rayos cósmicos de alta energía detectados era muy pequeña en comparación con el resto
de rayos cósmicos. Por lo tanto, les fue necesario mejorar la instrumentación, como aumentar la superficie de detección de los detectores y empezar
a observar la emisión de fluorescencia   producidas por las partículas de alta
energía al traspasar nuestra atmósfera. Con estas mejores en los detectores
y el desarrollo de emulsiones nucleares lograron detectar una gran cantidad
de partículas primaria con energías aproximada de 10 <sup>19</sup>ev, todo esto en aproximadamente en la mitad de la década de los 60. <br>
A partir de los 90, se llevaron acabo innovaciones para combinar las dos
técnicas de detección en un experimento de rayos cósmicos de alta-energía.
El resultado de esta combinación de técnicas fue el Observatorio Pierre Auger ,
que denominaron modo híbrido de detección. Dicho observatorio está en funcionamiento desde el 1998. Siendo el máximo exponente en el estudio de los
rayos cósmicos en la actualidad. Por útimo, destacar que el 2001 se dio el evento de mayor energía reportado hasta la fecha. Dicho evento fue detectado por el detector AGASA, ubicado en japón, en Mayo de 2001, con una energía asginada de 2,5 x 10<sup>20</sup>ev.
      </p> <br>
      <div class="desc-imagen">
        <div class="img-1">
          <a href="#"><img src="../assets/img/observatorio-pierre-auger.jpg" alt="Observatorio"></a>
          <p>Figura 2.8: Observatorio Pierre Auger(Malargüe, Argentina).</p>
        </div>
        <div class="img-2">
          <a href="#"><img src="../assets/img/volcano-roach.jpg" alt="Coulomb"></a>
          <p>Figura 2.9: John Linsley en el arreglo de superficie del Instituto Tecnológico de Massachusets ubicado en Volcano Ranch (Nuevo México, EEUU), en febrero de 1962.</p>
        </div>
      </div>

    </div>
</div>
  <!--End Descubrimiento-->