
<!--Section Project-->
<section id="projects">
    <div class="projects container">
        <div class="projects-header">
            <h1 class="section-title">Teor<span>ia</span></h1>
        </div>
        <div class="all-projects">
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#">Introducción</a> </h1>
                    <a [routerLink]="['/introduccion']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i></a>
                    <p>En esta sección haremos un resumen de todo el contenido que vendrá en los módulos posteriores.</p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#">Descubrimiento</a> </h1>
                    <a [routerLink]="['/descubrimiento']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
                    <p>En esta sección hablaremos de los acontecimientos o hechos que sucedieron para descubrir estos rayos cósmicos. </p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#">Partículas Elementales</a></h1>
                    <a [routerLink]="['/particulas']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
                    <p>Haremos un breve resumen de las partículas fundamentales que forman los rayos cósmicos.</p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#muones">Rayos Cósmicos</a></h1>
                    <a [routerLink]="['/rayos']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
                    <p>En esta sección hablaremos de todo lo que conocemos de los rayos cósmicos en la actualidad.</p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#">Detectores</a></h1>
                    <a [routerLink]="['/detectores']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
                    <p>En esta sección hablaremos de los dispositivos que se usan para detectar rayos cósmicos.</p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h1> <a href="#">Glosario</a></h1>
                    <a [routerLink]="['/glosario']" type="button" class="buttom">Leer más<i class="fas fa-angle-double-right"></i> </a>
                    <p>En esta sección explicaremos  algunos términos concretos vistos en los anteriores apartados.</p>
                </div>
                <div class="project-img">
                    <img src="./assets/img/37775.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Section Poject-->
